body {
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  /* background-color: #dab579; */
  /* background-image: url("https://thumbs.dreamstime.com/b/flag-india-word-coronavirus-rusty-background-concept-photo-174137176.jpg"); */
  background-image: url("https://thumbs.dreamstime.com/b/india-flag-depicted-liquid-watercolor-style-isolated-white-background-careless-paint-shading-image-national-140174109.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
#app-container {
  border: 1px solid #41b3a3;
  border-radius: 5px;
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  /* opacity: 0; */
  box-shadow: 10px 10px 10px brown;
}
#header {
  background-color: #41b3a3;
  color: white;
  text-align: center;
  padding: 5px;
  font-weight: bolder;
}
#footer {
  height: 20px;
  background-color: pink;
  color: black;
  font-size: 12px;
  text-align: right;
}
#main {
  padding: 10px;
  /* min-height: 550px; */
}
#button-area {
  text-align: center;
  margin-top: 20px;
}
